* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --cor-bg: linear-gradient(140deg, rgba(65,128,171,1) 0%, rgba(138,179,207,1) 65%, rgba(228,235,240,1) 100%);
    --cor-border: #bdd1de;
    --cor-txt: #001848;
    --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    --small-color: #000;
}

.darkMode {
    --cor-bg: linear-gradient(140deg, rgba(0,24,72,1) 0%, rgba(48,24,96,1) 65%, rgba(72,48,120,1) 100%);
    --cor-border: #483078;
    --cor-txt: #e4ebf0;
    --box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.4);
    --small-color: #fff;
}

.main {
    background: var(--cor-bg);
    height: 100%;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.check {
    margin: auto;
    margin-top: 10px;
    width: 70px;
    height: 30px;
    cursor: pointer;
    border: 2px solid var(--cor-border);
    box-shadow: var(--box-shadow);
    border-radius: 50px;
}

.light-icon._in {
    animation-name: logoLight;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

.dark-icon._in {
    animation-name: logoDark;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}

.check-center {
    position: relative;
    display: block;
    left: 7px;
    top: -41px;
    width: 20px;
    height: 20px;
    border: 3px solid var(--cor-border);
    transition: all 0.2s;
    border-radius: 50%;
}

.check-center._in {
    left: 40px;
    transition: all 0.2s;
}

#mode-color {
    opacity: 0;
}

.usuario {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.avatar {
    max-width: 170px;
    height: 170px;
    width: 100%;
    border-radius: 50%;
    border: 5px solid var(--cor-border);
}

.infoUser {
    max-width: 400px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.userTxt {
    color: var(--cor-txt);
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 3px;
    margin-top: 5px;
}

.userTxt._fz {
    font-size: 1rem;
    padding: 2px;
}

.icon {
    width: 40px;
    height: 40px;
    position: relative;
}

.light-icon {
    left: -60px;
    top: -5px;
}

.dark-icon {
    right: -64px;
    top: -67px;
}

.btn-mode {
    width: 100px;
    margin-top: 20px;
}

.btnGerar {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--cor-border);
    color: rgb(1, 1, 102);
    font-weight: bold;
    transform: scale(1);
    transition: all 0.2s;
}

.btnGerar:hover {
    background-color: #cadeec;
    transform: scale(1.02);
    transition: all 0.2s;
}

@keyframes logoLight {
    0%   {transform: rotate(0deg) scale(1);}
    25%  {transform: rotate(45deg) scale(1.2);}
    50%  {transform: rotate(90deg) scale(1);}
    75%  {transform: rotate(135deg) scale(1.2);}
    100% {transform: rotate(180deg) scale(1);}
}

@keyframes logoDark {
    0%   {transform: rotate(0deg) scale(1);}
    25%  {transform: rotate(25deg) scale(1.2);}
    50%  {transform: rotate(50deg) scale(1);}
    75%  {transform: rotate(23deg) scale(1.2);}
    100% {transform: rotate(0deg) scale(1);}
}

small {
    color: var(--small-color);
    margin-top: 100px;
    text-align: center;
    font-size: 16px;
}

/* Mobile */
@media (max-width: 575.98px) {
    .social {
        width: 300px;
        padding: 0px 40px;
    }
}